*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: cursive;

}
body{
  height: 100vh;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}